@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff758f;
    overflow: hidden;
}

.valentines-day-card {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: #ff8fa3;
    overflow: hidden;
    border: 10px solid white;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
}

.valentines-day-card:before {
    content: "";
    position: absolute;
    background-color: #ffb3c1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 140px;
    left: -25px;
    box-shadow: 60px 20px #ffb3c1, 130px 10px #ffb3c1, 190px 20px #ffb3c1,
        260px -5px #ffb3c1, 340px 20px #ffb3c1;
}

.valentines-day-card:after {
    content: "";
    position: absolute;
    background-color: #ffccd5;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 160px;
    left: -40px;
    box-shadow: 50px 20px #ffccd5, 120px 40px #ffccd5, 200px 15px #ffccd5,
        260px 30px #ffccd5, 330px 30px #ffccd5, 380px 10px #ffccd5;
}

.clouds {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff0f3;
    z-index: 5;
    top: 210px;
    left: -20px;
    box-shadow: 55px 30px #fff0f3, 125px 10px #fff0f3, 175px 20px #fff0f3,
        250px 10px #fff0f3, 320px 5px #fff0f3, 380px 10px #fff0f3;
}

.hearts {
    position: absolute;
    z-index: 2;
}

.heartOne {
    position: absolute;
    left: 100px;
    top: 250px;
    animation: up 4s linear forwards 1s;
}

.heartTwo {
    position: absolute;
    left: 270px;
    top: 230px;
    animation: up 5s linear forwards 1.8s;
}

.heartThree {
    position: absolute;
    left: 85px;
    top: 415px;
    animation: up 5s linear forwards 3s;
}

.heartFour {
    position: absolute;
    left: 320px;
    top: 380px;
    animation: upTwo 9s linear infinite 3.5s;
}

.heartFive {
    position: absolute;
    left: 150px;
    top: 400px;
    animation: upTwo 13s linear infinite 4.5s;
}

.right-side:before,
.right-side:after {
    position: absolute;
    content: "";
    transform-origin: left;
    animation: move 1s ease infinite;
}

.right-side:before {
    border-radius: 50% 50% 50% 0;
    width: 21px;
    height: 20px;
    background-color: #c9184a;
    left: -0.26px;
}

.right-side:after {
    height: 0;
    width: 0;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #c9184a;
    top: 19px;
    left: -0.26px;
}

@keyframes move {

    0%,
    100% {
        transform: rotateY(0);
    }

    50% {
        transform: rotateY(-45deg);
    }
}

.left-side:before,
.left-side:after {
    position: absolute;
    content: "";
    transform-origin: right;
    animation: move 1s ease infinite;
}

.left-side:before {
    border-radius: 50% 50% 0 50%;
    width: 20px;
    height: 20px;
    left: -20.7px;
    background-color: #ff4d6d;
}

.left-side:after {
    height: 0;
    width: 0;
    left: -15px;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #ff4d6d;
    top: 19px;
}

@keyframes up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-200px);
    }
}

@keyframes upTwo {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-450px);
    }
}

.text {
    position: absolute;
    color: #800f2f;
    font-size: 30px;
    font-family: "Pacifico", cursive;
    line-height: 1;
    text-align: center;
    width: 380px;
    left: 10px;
    z-index: 3;
    top: 320px;
    animation: up 1s ease forwards;
    transition: 0.2s;
}

.link-container {
    display: flex;
    justify-content: center;
  }  

.hover {
    color: white;
    font-family: "Pacifico", cursive;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none; /* Quita el subrayado predeterminado del enlace */
}

.hover:hover {
    color: #cf2611;
    transform: scale(1.1);
}

.text:hover span {
    display: none;
}

.text:hover:before {
    content: "Me gustas de aquí a la luna a pasitos de hormiguita 🐜🌙";
    font-size: 25px;
}

/* Estilos para la caja de chocolates */
.chocolate-box {
    position: relative;
    height: 300px;
    width: 300px;
    cursor: pointer;
}

.chocolate-box:before,
.chocolate-box:after {
    content: "";
    position: absolute;
}

.chocolate-box:before {
    width: 160px;
    height: 160px;
    background-color: #4b301b;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 10px 10px #392312;
}

.chocolate-box:after {
    width: 68px;
    height: 68px;
    background-color: #2b0900;
    top: 81px;
    left: 80px;
    box-shadow: 70px 0 #2b0900, 70px 70px #2b0900, 0px 70px #2b0900;
}

.chocs {
    position: absolute;
    z-index: 1;
}

.top-left {
    top: 92px;
    left: 90px;
}

.top-left:hover {
    transform: rotate(25deg);
}

.top-left:active {
    opacity: 0;
}

.bottom-right {
    left: 162px;
    top: 162px;
}

.bottom-right:hover {
    transform: rotate(25deg);
}

.bottom-right:active {
    opacity: 0;
}

.top-left,
.bottom-right {
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #d12511;
    box-shadow: 20px 0 #d12511;
    filter: drop-shadow(2px 2px #ab1503) drop-shadow(-2px 2px #ab1503);
    transition: 0.2s;
}

.top-left:after,
.top-left:before,
.bottom-right:before,
.bottom-right:after {
    content: "";
    position: absolute;
}

.top-left:before,
.bottom-right:before {
    width: 30px;
    height: 30px;
    background-color: #d12511;
    transform: rotate(-45deg);
    top: 10px;
    left: 10px;
}

.top-left:after,
.bottom-right:after {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    width: 10px;
    height: 10px;
    top: 5px;
    left: 35px;
}

.top-right {
    position: absolute;
    border-radius: 50%;
    background-color: #fee8c0;
    width: 45px;
    height: 45px;
    top: 92px;
    left: 162px;
    filter: drop-shadow(2px 2px #ceb587) drop-shadow(-2px 2px #ceb587);
    overflow: hidden;
    transition: 0.2s;
}

.top-right:before,
.top-right:after {
    content: "";
    position: absolute;
    background-color: #93522b;
    width: 100px;
    height: 3px;
    left: -5px;
}

.top-right:before {
    top: 15px;
    transform: rotate(-35deg);
    box-shadow: 0 -15px #93522b;
}

.top-right:after {
    top: 0;
    transform: rotate(-15deg);
    box-shadow: 0 17px #93522b, 0 30px #93522b;
}

.bottom-left:hover {
    transform: rotate(25deg);
}

.bottom-left:active {
    opacity: 0;
}

.top-right:hover {
    transform: rotate(25deg);
}

.top-right:active {
    opacity: 0;
}

.bottom-left {
    position: absolute;
    border-radius: 50%;
    background-color: #503520;
    width: 45px;
    height: 45px;
    top: 162px;
    left: 92px;
    filter: drop-shadow(2px 2px #342010) drop-shadow(-2px 2px #342010);
    overflow: hidden;
    transition: 0.2s;
}

.bottom-left:before,
.bottom-left:after {
    content: "";
    position: absolute;
    background-color: #fde7c7;
    width: 100px;
    height: 3px;
    left: -5px;
}

.bottom-left:before {
    top: 15px;
    transform: rotate(-35deg);
    box-shadow: 0 -15px #fde7c7;
}

.bottom-left:after {
    top: 0;
    transform: rotate(-15deg);
    box-shadow: 0 17px #fde7c7, 0 30px #fde7c7;
}

.box-bottom {
    position: absolute;
    background-color: #392312;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    left: 222px;
    top: 73px;
    z-index: -1;
    box-shadow: 0px 211px #392312;
}

.cover {
    position: absolute;
    background-color: #cf2611;
    width: 150px;
    height: 150px;
    border: 5px solid #ae1605;
    z-index: 2;
    top: 70px;
    left: 70px;
    transform-origin: top;
    transition: 0.2s;
    overflow: hidden;
}

.chocolate-box:hover .cover {
    transform: rotateX(170deg);
    box-shadow: 5px -5px 20px rgba(0, 0, 0, 0.5);
}

.chocolate-box:hover .cover:before {
    display: none;
}

.cover:before {
    position: absolute;
    content: "Te amo";
    color: #ffead2;
    font-family: "Brush Script MT", cursive;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 35px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
    border: 2px double;
}

.cover:after {
    position: absolute;
    content: "";
    background-color: #ffead2;
    height: 10px;
    width: 100px;
    transform: rotate(-45deg);
    left: -20px;
    box-shadow: -5px 165px #ffead2;
}

#white,
#milk,
#truffle,
#truffle2 {
    position: absolute;
    width: 100%;
    display: none;
    color: #ffead2;
    font-family: "Brush Script MT", cursive;
    font-size: 25px;
    transition: 0.1;
}

#white {
    top: 100px;
    left: 250px;
}

#milk {
    top: 170px;
    left: -70px;
}

#truffle {
    left: 250px;
    top: 170px;
}

#truffle2 {
    left: -70px;
    top: 100px;
}